
body{
background-color:rgb(255, 255, 255) ;
}

Estilizar o título principal do seu site
 h1{
color: rgb(38, 106, 170);
font-family:Arial;
background: ;
}

Estilizar os parágrafos
p{
color: ;
font-family: ;
font-size: ;
background: ;
text-align:center;
}


#aa{
    width: 100%;
}